// Main font

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Core

body, html

    // Colons appear to be required if you put
    // your values on the next line. If the first
    // value is on the same line as the property,
    // the colon is completely optional.

    font-family:
        "Rubik",
        "Verdana",
        sans-serif

    background #A67B5B // Café au lait
    color      black

// Links

a
    color           goldenrod
    font-weight     bold
    text-shadow     1px 1px 1px black
    text-decoration none   
    &:hover
        text-decoration none
        color           gold
        text-shadow     0 0 .5px whitesmoke

// Input box

textarea
    resize none

#Input
	margin-left  3.5px
	width        819.5px
	font-family:
        "Rubik",
        "Verdana",
        sans-serif

// Output

#Output
    max-width  1700px

.OutputContainer *
    vertical-align middle

// Submit button

input[type="submit"]
    position            absolute !important
    margin-top          3.15% !important
    margin-left         1%
    padding             9px 9px
    font-family         Rubik, Verdana, sans-serif
    font-weight         bold
    background          darkgoldenrod
    border              3px solid black
    border-radius       5pt
    transition          all linear 200ms
    -ms-transition      all linear 200ms
    -o-transition       all linear 200ms
    -webkit-transition  all linear 200ms
    -khtml-transition   all linear 200ms
    -moz-transition     all linear 200ms
    -icab-transition    all linear 200ms
    -xv-transition      all linear 200ms
    &:hover
        cursor          pointer
        box-shadow      3px 3px 14px 0 black
        border-radius   0

// Label

label[for="Input"]
    position relative
    bottom   65px !important